/* Установка значений по умолчанию для элементов HTML */
html {
  box-sizing: border-box;
  font-size: 16px;
}

/* Сброс стилей для всех элементов */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Сброс стилей для списков */
ul,
ol {
  list-style: none;
}

/* Установка ссылки по умолчанию */
a {
  color: inherit;
  text-decoration: none;
}

/* Сброс стилей для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Сброс стилей для изображений */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Установка значений по умолчанию для элементов формы */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Сброс стилей для кнопок */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Сброс стилей для таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Сброс стилей для всех форматированных текстовых элементов */
strong,
em,
small,
code,
sub,
sup {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
